 @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

 * {
 	margin: 0;
 	padding: 0;
 }
 a {
 	text-decoration: none;
 	color: black;
 }
 a:hover {
 	color: blue;
 }
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
td {
	border: 1px solid lightgray;
}
body {
	background-color: gray;
}
.wrap {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	cursor: default;
}

.work {
	margin-top: 25px;
}
h1,
p {
	text-align: center;
	font-family: 'Secular One', sans-serif;
}
/*h1 {
	margin-top: 25px;
}*/
h2 {
	text-align: center;
}
nav {
	width: 210px;
	float: right;
}
thead p {
	padding-top: 15px;
}
.contact {
	width: 100%;
	text-align: center;
}
.contact p {
	padding-top: 15px;
}
.contact hr {
	margin-top: 25px;
}
.contact h3 {
	margin-top: 25px;
	text-align: left;
	padding-right: 30px;
    margin-left: -30px;
}
.code {
	float: left;
	width: 500px;
	margin-left: 20px;
}

.code > p {
	white-space: pre;
	text-align: left;
	font-size: 13px;
}

.btn {
	width: 170px;
	height: 50px;
	border: 0;
	font-family: 'Secular One', sans-serif;
	font-size: 16px;
	border-radius: 15px;
	cursor: pointer;
}
.contact-item > li {
	position: relative;
	text-align: right;
	margin-top: 12.5px;
	text-align: left;
}
.contact-item > li:before {
	position: absolute;
	top: 0;
	left: -30px;
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	
}
.contact-item > li:first-child:before {
	background: transparent url(img/icon-2/discord.png) no-repeat center;
}
.contact-item > li:nth-child(2):before {
	background: transparent url(img/icon-2/telegram.png) no-repeat center;
}
.contact-item > li:nth-child(3):before {
	background: transparent url(img/icon-2/skype.png) no-repeat center;
}
.contact-item > li:nth-child(4):before {
	background: transparent url(img/icon-2/linkedin.png) no-repeat center;
}
.contact-item > li:nth-child(5):before {
	background: transparent url(img/icon-2/github.png) no-repeat center;
}
.contact-item > li:nth-child(6):before {
	background: transparent url(img/icon-2/gmail.png) no-repeat center;
}
.contact-item > li:nth-child(7):before {
	background: transparent url(img/icon-2/phone.png) no-repeat center;
}
.contact-item > li:last-child:before {
	background: transparent url(img/icon-2/ua.png) no-repeat center;
}
/*skills*/
.skills li {
	position: relative;
	padding: 10px 0 10px 35px;
}
.skills li:last-child {
	margin-bottom: 25px;
}

.skills li img {
	position: relative;
	top: 7px;
	left: -5px;
}
/*project*/
.about {
	vertical-align: top;
}
.about h1 {
	text-align: center;
}
.about p {
	font-size: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.link-work {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 auto;
}
.link-work > div {
	height: 210px;
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.link-work > div a {
	position: relative;
	color: black;
	text-decoration: none;
}
.link-work > div a:hover {
	color: blue;
}
.link-work a:after {
	position: absolute;
	display: block;
	content: '';
	left: 50%;
	top: 20px;
	transform: translate(-50%, 0);
	width: 350px;
	height: 160px;
	border: 1px solid black;
}
.link-work div:first-child a:after {
	background: transparent url(img/portfolio.png) no-repeat center;
}
.link-work div:nth-child(2) a:after {
	background: transparent url(img/med.png) no-repeat center;
}
.link-work div:nth-child(3) a:after {
	background: transparent url(img/watch.png) no-repeat center;
}
.link-work div:last-child a:after {
	background: transparent url(img/figures.png) no-repeat center;
}
.cgo {
	text-align: center;
}
/*project*/

/*skills*/
/*extra*/
.extra li {
	position: relative;
}
.extra li a {
	padding-left: 66px;
	line-height: 30px;
}
.extra li:before {
	position: absolute;
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	top: 3px;
	left: 37px;
}
.ext-1:before {
	background: transparent url(img/icon/codecademt.png) no-repeat center;
}
.ext-2:before {
	background: transparent url(img/icon/htmlacademy.png) no-repeat center;
}

/*extra*/
/*Lang*/
.lang > li {
	position: relative;
	padding-left: 66px;
	line-height: 30px;
}
.lang > li:nth-child(3) {
	margin-bottom: 25px;
}
.lang > li:after {
	position: absolute;
	top: 0px;
    left: 35px;
	content: '';
	display: block;
	width: 24px;
	height: 24px;
}
.lang > li:first-child:after {
	background: transparent url(img/countries/ukraine.png) no-repeat center;
}
.lang > li:nth-child(2):after {
	background: transparent url(img/countries/russia.png) no-repeat center;
}
.lang > li:nth-child(3):after {
	background: transparent url(img/countries/united-kingdom.png) no-repeat center;
}
/*Lang*/
.td-foot {
	position: relative;
}

footer {
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-items: center;
}
footer > div:first-child {
	margin-left: 50px;
	max-width: 390px;
	width: 100%;
}

footer > div:last-child {
	margin-right: 40px;
}

.github {
	float: left;
}
.git,
.rs-course {
	line-height: 60px;
	padding-left: 5px;
}
.rs-course img {
	float: right;
}
